{%- comment -%}Color labels used to detect what is a color swatch{%- endcomment -%}
{%- assign color_label = 'color,colour,couleur,cor,colore,farbe,색,色,カラー,färg,farve,szín' | split: ',' -%}

{%- assign no_product_image = 'default-product-image.png' | asset_url -%}

{%- assign latest_products = "" -%}
{%- if settings.new_arrivals_allowed_count != blank -%}
	{%- assign allowed_new_arrivals = settings.new_arrivals_allowed_count -%}
{%- else -%}
	{%- assign allowed_new_arrivals = 10 -%}
{%- endif -%}
{% paginate collections["new-arrivals"].products by allowed_new_arrivals %}
    {% for new_product in collections["new-arrivals"].products %}
       {% if latest_products == "" %} 
        {% assign latest_products = new_product.id %}   
        {% else %}
        {% assign latest_products = latest_products | append: ',' | append: new_product.id %}   
       {% endif %}
    {% endfor %}
{% endpaginate %}

<div data-product-id="{{ product.id }}" class="product-item {% if product.available == false  %} out-of-stock{% endif %} {% if horizontal %}product-item--horizontal{% elsif list %}product-item--list{% else %}product-item--vertical{% endif %} {% if section.id == 'blog-sidebar' %}product-item--compact{% endif %} {{ grid_classes }}">
 {%- capture product_labels -%} 
  	{% assign newtag_applied = 0 %} 
  	{%- if latest_products contains product.id and product.available -%}
  		{% assign newtag_applied = 1 %}  
  		 <span class="product-label product-label--custom1">New</span>
    {%- endif-%}
  	{%- if product.available == false  -%}
  		 <span class="product-label product-label--custom1 notify-me">{{ 'collection.product.sold_out' | t }}</span>
    {%- endif-%}
    {%- for tag in product.tags -%}
  	  {%- if product.available == false  -%}
          {%- break -%}
  	   {%- endif -%}
  	   {%- if newtag_applied == 1 -%}
          {%- break -%}
  	   {%- endif -%}
  	  {% assign current_tag_label = tag | split: '__label:' | last | downcase  %}
  	  {%- if current_tag_label == "new" -%}
  		{%- continue -%}
  	  {%- endif -%}
      {%- if tag contains '__label:' -%}
        <span class="product-label product-label--custom1 {% if current_tag_label == "expert pick" %} expert-pick{% endif %}">{{ tag | split: '__label:' | last }}</span>
  		{%- break -%}
      {%- endif -%}

      {%- if tag contains '__label1:' -%}
        <span class="product-label product-label--custom1 {% if current_tag_label == "expert pick" %} expert-pick{% endif %}">{{ tag | split: '__label1:' | last }}</span>
  		{%- break -%}
      {%- endif -%}

      {%- if tag contains '__label2:' -%}
        <span class="product-label product-label--custom2 {% if current_tag_label == "expert pick" %} expert-pick{% endif %}">{{ tag | split: '__label2:' | last }}</span>
  		{%- break -%}
      {%- endif -%}
    {%- endfor -%}
 
  {%- endcapture -%}

  {%- if product_labels != blank -%}
    <div class="product-item__label-list">
      {{- product_labels -}}
    </div>
  {%- endif -%}

  {%- if settings.show_secondary_image and product.media.size > 1 -%}
    {%- assign show_secondary_media = true -%}
  {%- else -%}
    {%- assign show_secondary_media = false -%}
  {%- endif -%}

  {%- assign filtered_variant = '' -%}
  
  {%- if product.media.size >= 0 -%}
    {%- comment -%}
      Are you ready for some Liquid crazyness? Let's start!
      The idea here is that when we are on a collection page that is filtered using a color swatch, instead of showing the featured
      image, we'd like to show a variant image that is attached to the selected color. Unfortunately, because filtering is done using
      tag, there is no direct relationship between tags and variants. We therefore have to do some crazy processing to match a filter
      with a variant. Because this code is within a collection page, it is executed for each product, so it's pretty performance
      sensitive. Disabling this piece of code may slightly improve the performance if you have lot of variants.
    {%- endcomment -%}

    {%- assign primary_media = product.featured_media -%}

    {%- if request.page_type == 'collection' and section.settings.show_filters and section.settings.filter_type == 'group' -%}
      {%- assign matched_color_option = '' -%}

      {%- for tag in current_tags -%}
        {%- assign tag_parts = tag | split: '_' -%}
        {%- assign tag_group_name = tag_parts | first | downcase -%}
        {%- assign tag_group_value = tag_parts | last | downcase -%}

        {%- if color_label contains tag_group_name -%}
          {%- comment -%}We have found a matching color label, then we check if this product contains an option named the same{%- endcomment -%}

          {%- for option in product.options -%}
            {%- assign downcased_option = option | downcase -%}

            {%- if downcased_option == tag_group_name -%}
              {%- comment -%}We have found the index of the matching option, so we can iterate through the variants{%- endcomment -%}
              {%- assign option_index = 'option' | append: forloop.index -%}

              {%- for variant in product.variants -%}
                {%- assign variant_option_value = variant[option_index] | downcase -%}

                {%- if variant_option_value == tag_group_value and variant.featured_media -%}
                  {%- assign primary_media = variant.featured_media -%}
                  {%- assign filtered_variant = variant -%}
                  {%- break -%}
                {%- endif %}
              {%- endfor -%}

              {%- break -%}
            {%- endif -%}
          {%- endfor -%}

          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}

    <a href="{{ filtered_variant.url | default: product.url | within: collection }}" class="product-item__image-wrapper new_design {% if show_secondary_media %}product-item__image-wrapper--with-secondary{% endif %}">
      {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,500,600,700,800', image: primary_media.preview_image -%}{%- endcapture -%}
      {%- assign image_url = primary_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      {%- if primary_media != blank -%}
      {%- else -%}
      	{%- assign image_url = 'default-product-image.png' | asset_url -%}
      {%- endif -%}

      <div class="aspect-ratio {% if settings.product_image_size != 'natural' %}aspect-ratio--{{ settings.product_image_size }}{% endif %}" style="padding-bottom: {{ 100.0 | divided_by: primary_media.preview_image.aspect_ratio }}%">
        <img data-product-id="{{product.id}}" class="product-item__primary-image lazyload image--fade-in {% if product.available == false  %} out-of-stock-img{% endif %}" data-media-id="{{ primary_media.id }}" data-src="{{ image_url }}" data-sizes="auto" data-widths="[{{ supported_sizes }}]" alt="{{ primary_media.alt | escape }}">

        {%- if show_secondary_media -%}
          {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,500,600,700,800', image: product.media[1].preview_image -%}{%- endcapture -%}
          {%- assign image_url = product.media[1] | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

          <img data-product-id="{{product.id}}" class="product-item__secondary-image lazyload image--fade-in" data-src="{{ image_url }}" data-sizes="auto" data-widths="[{{ supported_sizes }}]" alt="{{ product.media[1].alt | escape }}">
        {%- endif -%}
		
        <noscript>
          <img src="{{ primary_image | img_url: '600x' }}" alt="{{ primary_media.alt | escape }}">
        </noscript>
      </div>

      {%- comment -%} add to cart button {%- endcomment -%}

{%comment%}
      <div class="cart--button__row">
        {%- if request.page_type == 'collection' or request.page_type == 'search' or show_add_to_cart -%}
          {%- if section.settings.show_quick_view == 'list_grid' or section.settings.show_quick_buy == 'list_grid' or show_add_to_cart -%}
            {%- assign product_form_classes = 'product-item__action-list button-stack' -%}
          {%- else -%}
            {%- assign product_form_classes = 'product-item__action-list product-item__action-list--list-view-only button-stack' -%}
          {%- endif -%}
    
          {%- assign form_id = 'product_form_id_' | append: product.id | append: '_' | append: section.id -%}
    
          {%- if product.template_suffix == 'contact' -%}
            <div class="{{ product_form_classes }}">
              <a href="mailto:{{ shop.email }}" class="product-item__action-button button button--small button--primary">
                {{- 'product.form.contact_us' | t -}}
              </a>
            </div>
          {%- else -%}
            {%- form 'product', product, id: form_id, class: product_form_classes -%}
              <input type="hidden" name="quantity" value="1">
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    
              {%- if section.settings.show_quick_buy == 'list_grid' or show_add_to_cart -%}
                {%- assign quick_buy_classes = 'product-item__action-button button button--small button--primary' -%}
              {%- else -%}
                {%- assign quick_buy_classes = 'product-item__action-button product-item__action-button--list-view-only button button--small button--primary' -%}
              {%- endif -%}
    
              {%- if product.available -%}
                {%- if product.variants.size == 1 -%}
                  <button type="submit" class="{{ quick_buy_classes }}" data-action="add-to-cart" data-product-handle="{{ product.handle }}" data-variant-id="{{ product.selected_or_first_available_variant.id }}">
                    {%- if product.template_suffix == 'pre-order' -%}
                      {{- 'collection.product.pre_order' | t -}}
                    {%- else -%}
                      {{- 'collection.product.add_to_cart' | t -}}
                    {%- endif -%}
                  </button>
                {%- else -%}
                  <button type="button" class="{{ quick_buy_classes }}" data-action="open-modal" data-secondary-action="open-quick-view" aria-controls="modal-quick-view-{{ section.id }}" data-product-url="{{ product.url }}">{{ 'collection.product.add_to_cart' | t }}</button>
                {%- endif -%}
              {%- else -%}
              <a class="{{ quick_buy_classes }}" href="{{ filtered_variant.url | default: product.url | within: collection }}">Notify Me</a> 
            {%- endif -%}
    
             {% comment %}
              {%- if section.settings.show_quick_view == 'list_grid' -%}
                {%- assign quick_view_classes = 'product-item__action-button button button--small button--ternary hidden-phone' -%}
              {%- else -%}
                {%- assign quick_view_classes = 'product-item__action-button product-item__action-button--list-view-only button button--small button--ternary hidden-phone' -%}
              {%- endif -%}
    
              <button type="button" class="{{ quick_view_classes }}" data-action="open-modal" data-secondary-action="open-quick-view" aria-controls="modal-quick-view-{{ section.id }}" data-product-url="{{ product.url }}">{{ 'collection.product.quick_view' | t }}</button>
             {% endcomment %}
            {%- endform -%}
          {%- endif -%}
        {%- endif -%}
    
        </div>

{%endcomment%}
      {%- comment -%} add to cart button {%- endcomment -%}
    </a>
  {%- endif -%}
  {%comment%}
{%endcomment%}
  <div class="product-item__info">
    <div class="product-item__info-inner">
      {%- capture price_list -%}
        <div class="product-item__price-list price-list">
          {%- if product.selected_or_first_available_variant.price < product.selected_or_first_available_variant.compare_at_price -%}
            {%- if product.price_varies -%}
              {%- capture price_min -%}<span>{{ product.price_min | money }}</span>{%- endcapture -%}
              {%- capture price_max -%}<span>{{ product.price_max | money }}</span>{%- endcapture -%}
              <span class="price price--highlight price_alignment">
                <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                {{- product.selected_or_first_available_variant.price | money -}}
                {% comment %}{{- 'collection.product.from_price_html' | t: price_min: price_min, price_max: price_max -}}{% endcomment %}
              </span>

              <span class="price price--compare">
                <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>
                {{- product.selected_or_first_available_variant.compare_at_price | money -}}
              </span>
            {%- else -%}
              <span class="price price--highlight">
                <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                {{- product.selected_or_first_available_variant.price | money -}}
              </span>

              <span class="price price--compare">
                <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>
                {{- product.selected_or_first_available_variant.compare_at_price | money -}}
              </span>
            {%- endif -%}
          {%- elsif product.price_varies -%}
            {%- capture price_min -%}<span>{{ product.price_min | money }}</span>{%- endcapture -%}
            {%- capture price_max -%}<span>{{ product.price_max | money }}</span>{%- endcapture -%}

            <span class="price price--highlight">
              <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
              {{- 'collection.product.from_price_html' | t: price_min: price_min, price_max: price_max -}}
            </span>
          {%- else -%}
            <span class="price price--highlight">
              <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
              {{- product.selected_or_first_available_variant.price | money -}}
            </span>
          {%- endif -%}
          {%- if settings.show_discount and product.selected_or_first_available_variant.price < product.selected_or_first_available_variant.compare_at_price -%}
          {%- if settings.discount_mode == 'percentage' -%}
          	{% assign discount_percentage = product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | times: 100.0 | divided_by: product.selected_or_first_available_variant.compare_at_price | floor | plus: 0 %}
          	{% if discount_percentage > 0 %}
          		{%- assign savings = product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | times: 100.0 | divided_by: product.selected_or_first_available_variant.compare_at_price | floor | append: '%' -%}
          	{% endif %}
          {%- else -%}
          	{%- capture savings -%}<span>{{ product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | money }}</span>{%- endcapture -%}
          {%- endif -%}

          <span class="product-label">
            	{{ 'collection.product.discount_html' | t: savings: savings }}
          </span>
          <span class="save-label">
            	{{ 'collection.product.discount_html' | t: savings: savings }}
          </span>
          {%- endif -%}
        </div>

        {%- if product.selected_or_first_available_variant.unit_price_measurement -%}
          <div class="product-item__price-info">
            <div class="unit-price-measurement">
              <span class="unit-price-measurement__price">{{ product.selected_or_first_available_variant.unit_price | money }}</span>
              <span class="unit-price-measurement__separator">/ </span>

              {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                <span class="unit-price-measurement__reference-value">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_value }}</span>
              {%- endif -%}

              <span class="unit-price-measurement__reference-unit">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}</span>
            </div>
          </div>
        {%- endif -%}
      {%- endcapture -%}
	
      {%- capture vendor -%}
        {%- if settings.show_vendor -%}
          {%- assign vendor_handle = product.vendor | handle -%}
          {%- assign collection_for_vendor = collections[vendor_handle] -%}

          {%- unless collection_for_vendor.empty? -%}
            <a class="product-item__vendor link" href="{{ collection_for_vendor.url }}">{{ product.vendor }}</a>
          {%- else -%}
            <a class="product-item__vendor link" href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>
          {%- endunless -%}
      	
        {%- endif -%}
      {%- endcapture -%}

      {%- if settings.product_price_position == 'before_title' -%}
        {{ price_list }}
      {%- endif -%}

      <a href="{{ filtered_variant.url | default: product.url | within: collection }}" data-sku="{{ product.selected_or_first_available_variant.sku }}" class="product-item__title text--strong link {{ section.id }}">{{ product.title }}</a>

      {{ vendor }}

      {%- if settings.show_color_swatch and template != 'blog' -%}
        {%- capture color_swatch -%}
          {%- capture color_name -%}{{ section.id }}-{{ product.id }}{%- endcapture -%}

          {%- for option in product.options_with_values -%}
            {%- assign downcased_option = option.name | downcase -%}

            {%- if color_label contains downcased_option -%}
              {%- assign variant_option = 'option' | append: forloop.index -%}
              {%- assign value_to_match = filtered_variant[variant_option] | default: option.selected_value -%}

              {%- for value in option.values -%}
                {%- assign downcased_value = value | downcase -%}
                {%- capture color_id -%}{{ color_name }}-{{ forloop.index }}{%- endcapture -%}

                {%- for variant in product.variants -%}
                  {%- if variant[variant_option] == value -%}
                    {%- assign variant_for_value = variant -%}
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}

                <div class="color-swatch {% if downcased_value == 'white' or downcased_value == 'blanc' %}color-swatch--white{% endif %}">
                  {%- if variant_for_value.featured_media -%}
                    {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,500,600,700,800', image: variant_for_value.featured_media.preview_image -%}{%- endcapture -%}
                    {%- assign image_url = variant_for_value.featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  {%- endif -%}

                  {%- assign color_swatch_name = value | handle | append: '.png' -%}
                  {%- assign color_swatch_image = images[color_swatch_name] -%}

                  <input class="color-swatch__radio" type="radio" name="{{ color_name }}" id="{{ color_id }}" value="{{ value | escape }}" {% if value_to_match == value %}checked="checked"{% endif %} data-variant-url="{{ variant_for_value.url }}" {% if variant_for_value.featured_media %}data-media-id="{{ variant_for_value.featured_media.id }}" data-image-url="{{ image_url }}" data-image-widths="[{{ supported_sizes }}]" data-image-aspect-ratio="{{ variant_for_value.featured_media.preview_image.aspect_ratio }}"{% endif %} aria-label="{{ value | escape }}">
                  <label class="color-swatch__item lazyload" for="{{ color_id }}" {% if color_swatch_image != blank %}data-bg="{{ color_swatch_image | img_url: '64x64' }}"{% else %}style="background-color: {{ value | replace: ' ', '' | downcase }}"{% endif %} title="{{ value | escape }}">
                    <span class="visually-hidden">{{ value }}</span>
                  </label>
                  <a href="{{ product.url }}" class="color-swatch__item-link">+{{ option.values.size | minus: forloop.index0 }}</a>
                </div>
              {%- endfor -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endcapture -%}

        {%- if color_swatch != blank -%}
          <div class="product-item__swatch-list">
            <div class="color-swatch-list">
              {{ color_swatch }}
            </div>
          </div>
        {%- endif -%}
      {%- endif -%}
      <div class="price_review_alignment">
      {% render 'nectorcustom_review_rating', product: product, customer: customer, shop: shop %}
      <!-- Listing product tags -->
      {%- comment -%}
      {%- render 'product-tags', product: product -%}
      {%- endcomment -%}
      <!-- end Listing product tags -->
      {%- if settings.product_price_position == 'after_title' -%}
        {{ price_list }}
      {%- endif -%}

      {%- if settings.show_reviews_badge -%}
      {%- comment -%}
        <a class="product-item__reviews-badge link" href="{{ product.url | within: collection }}#product-reviews">
          <span class="visually-hidden">{{ 'product.general.reviews' | t }}</span>

          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">
            Display a placeholder, to allocate space
            <div class="spr-badge" style="opacity: 0">
              <span class="spr-starrating spr-badge-starrating">
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
              </span>
            </div>
          </span>
        </a>
      {%- endcomment -%}     
      {%- endif -%}
      </div>
      {%- comment -%}
      {%- if settings.show_inventory_quantity and product.template_suffix != 'pre-order' -%}
        {%- if product.available -%}
          {%- assign should_calculate_inventory = true -%}

          {%- for variant in product.variants -%}
            {%- comment -%}
              If we have one variant that is set to "continue" or that do not have any inventory management, then we skip the calculation of inventory as this
              means at least one of the variant is always purchasable
            {%- endcomment -%}

            {%- if variant.inventory_policy == 'continue' or variant.inventory_management == null -%}
              {%- assign should_calculate_inventory = false -%}
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}

          {%- if should_calculate_inventory and settings.low_inventory_threshold > 0 -%}
            {%- assign all_inventory = 0 -%}

            {%- for variant in product.variants -%}
              {%- if variant.inventory_management -%}
                {%- assign all_inventory = variant.inventory_quantity | at_least: 0 | plus: all_inventory -%}
              {%- endif -%}
            {%- endfor -%}

            {%- if all_inventory <= settings.low_inventory_threshold -%}
              <span class="product-item__inventory inventory inventory--low">{{ 'collection.product.low_stock_with_quantity_count' | t: count: all_inventory }}</span>
            {%- else -%}
              {% comment %}<span class="product-item__inventory inventory inventory--high">{{ 'collection.product.in_stock_with_quantity_count' | t: count: all_inventory }}</span>{% endcomment %}
            {%- endif -%}
          {%- else -%}
            {%- if product.variants.first.inventory_policy == 'continue' and product.variants.first.inventory_quantity <= 0 and product.variants.first.requires_shipping -%}
              <span class="product-item__inventory inventory inventory--high">{{ 'collection.product.oversell_stock' | t }}</span>
            {%- else -%}
              <span class="product-item__inventory inventory inventory--high">{{ 'collection.product.in_stock' | t }}</span>
            {%- endif -%}
          {%- endif -%}
        {%- else -%}
          <span class="product-item__inventory inventory">Notify Me</span>
        {%- endif -%}
      {%- endif -%}
      {%- endcomment -%}
    </div>
    
    <div class="cart--button__row">
    {%- if request.page_type == 'collection' or request.page_type == 'search' or show_add_to_cart -%}
      {%- if section.settings.show_quick_view == 'list_grid' or section.settings.show_quick_buy == 'list_grid' or show_add_to_cart -%}
        {%- assign product_form_classes = 'product-item__action-list button-stack' -%}
      {%- else -%}
        {%- assign product_form_classes = 'product-item__action-list product-item__action-list--list-view-only button-stack' -%}
      {%- endif -%}

      {%- assign form_id = 'product_form_id_' | append: product.id | append: '_' | append: section.id -%}

      {%- if product.template_suffix == 'contact' -%}
        <div class="{{ product_form_classes }}">
          <a href="mailto:{{ shop.email }}" class="product-item__action-button button button--small button--primary">
            {{- 'product.form.contact_us' | t -}}
          </a>
        </div>
      {%- else -%}
        {%- form 'product', product, id: form_id, class: product_form_classes -%}
          <input type="hidden" name="quantity" value="1">
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

          {%- if section.settings.show_quick_buy == 'list_grid' or show_add_to_cart -%}
            {%- assign quick_buy_classes = 'product-item__action-button button button--small button--primary' -%}
          {%- else -%}
            {%- assign quick_buy_classes = 'product-item__action-button product-item__action-button--list-view-only button button--small button--primary' -%}
          {%- endif -%}

          {%- if product.available -%}
            {%- if product.variants.size == 1 -%}
              <button type="submit" class="{{ quick_buy_classes }}" data-action="add-to-cart" data-product-handle="{{ product.handle }}" data-variant-id="{{ product.selected_or_first_available_variant.id }}">
                {%- if product.template_suffix == 'pre-order' -%}
                  {{- 'collection.product.pre_order' | t -}}
                {%- else -%}
                  {{- 'collection.product.add_to_cart' | t -}}
                {%- endif -%}
              </button>
            {%- else -%}
              <button type="button" class="{{ quick_buy_classes }}" data-action="open-modal" data-secondary-action="open-quick-view" aria-controls="modal-quick-view-{{ section.id }}" data-product-url="{{ product.url }}">{{ 'collection.product.add_to_cart' | t }}</button>
            {%- endif -%}
          {%- else -%}
      		<a class="{{ quick_buy_classes }}" href="{{ filtered_variant.url | default: product.url | within: collection }}">Notify Me</a> 
   		 {%- endif -%}

         {% comment %}
          {%- if section.settings.show_quick_view == 'list_grid' -%}
            {%- assign quick_view_classes = 'product-item__action-button button button--small button--ternary hidden-phone' -%}
          {%- else -%}
            {%- assign quick_view_classes = 'product-item__action-button product-item__action-button--list-view-only button button--small button--ternary hidden-phone' -%}
          {%- endif -%}

          <button type="button" class="{{ quick_view_classes }}" data-action="open-modal" data-secondary-action="open-quick-view" aria-controls="modal-quick-view-{{ section.id }}" data-product-url="{{ product.url }}">{{ 'collection.product.quick_view' | t }}</button>
         {% endcomment %}
      	{%- endform -%}
      {%- endif -%}
    {%- endif -%}

    </div>
  </div>
</div>


<style>
    
</style>