{% capture posted_successfully_text %}
{%- if block.settings.thank_you_title != blank -%}
    <h3 class="popup-newsletter__title heading thank_you_title">{{ block.settings.thank_you_title | escape }}</h3>
{%- endif -%}
{%- if block.settings.thank_you_content != blank -%}
    <div class="popup-newsletter__content rte">
    {{ block.settings.thank_you_content }}
    </div>
{%- endif -%}
{% endcapture %}
<div class="product_subscription_widget">
    {%- form 'customer', id: 'product_subscription-widget', class: 'form subscription-widget__form' -%}
        <div class="newsletter_form_posted_successfully{% unless form.posted_successfully? %} hide{% endunless %}">
        {{ posted_successfully_text }}
        </div>
        {%- unless form.posted_successfully? -%}
        {%- if block.settings.title != blank -%}
        <h5 class="popup-newsletter__title heading">{{ block.settings.title }}</h5>
        {%- endif -%}
        {%- if block.settings.content != blank -%}
        <div class="popup-newsletter__content rte">
            {{ block.settings.content }}
        </div>
        {%- endif -%}
        {%- endunless -%}

        <input type="hidden" name="contact[tags]" value="newsletter">

        <div class="form__input-wrapper form__input-wrapper--labelled">
            <input id="subscription-widget-popup[email]" type="text" class="form__field form__field--text" name="contact[email]" oninput="validateEmail($(this))">
            <label for="subscription-widget-popup[email]" class="form__floating-label">{{ 'general.popup.email_placeholder' | t }}</label>
            <span class="form_error"></span>
        </div>

        <div class="form__input-wrapper form__input-wrapper--labelled phone_input_wrap">
            <span class="input-prepend">+91</span>
            <input id="subscription-widget-popup[phone]" type="text" class="form__field form__field--text customer-phonenumber" name="contact[phone]" placeholder="{{ 'general.popup.phone_placeholder' | t }}" maxlength="10" onkeypress="return onlyNumberKey(event)">
            <span class="form_error"></span>
        </div>

        <button class="button button--primary button--full newsletter_subscription_button custom_loading" type="submit" disabled="true">{{ block.settings.button_text }}<span class="custom-loader-wrap"><span class="custom-loader"></span></span></button>
        {% if form.errors %}
            <div class="error_sameemail">{{ form.errors | default_errors }}</div>
        {% endif %}  
    {%- endform -%}
</div>