{%- comment -%} recent blogpost starts here {%- endcomment -%}
<section class="container blog-post-container">
  <div class="blog-post-text-continer">
      {% if section.settings.heading_one != blank or section.settings.heading_two != blank %}
        <header class="landing_section_header">
          {% if section.settings.heading_one != blank %}
              <h2 class="landing_subheading">{{ section.settings.heading_one }}</h2>
          {% endif %}
          {% if section.settings.heading_two != blank %}
              <h3 class="landing_heading">{{ section.settings.heading_two }}</h3>
          {% endif %}
        </header>
      {% endif %}
      <div class="blog-post-link">
          {% if section.settings.view_text != blank %}
              <a href="{{ section.settings.url_link }}">{{ section.settings.view_text }}<svg focusable="false" class="icon icon--tail-right" viewBox="0 0 24 24" role="presentation">
                      <path fill="currentColor" d="M22.707 11.293L15 3.586 13.586 5l6 6H2c-.553 0-1 .448-1 1s.447 1 1 1h17.586l-6 6L15 20.414l7.707-7.707c.391-.391.391-1.023 0-1.414z"></path>
                  </svg>
              </a>
          {% endif %}
      </div>
  </div>
  <div class="blog-section-container">
      {% for block in section.blocks %}
          {% if block.type == 'blog' %}
              <div class="blog-container">
                  <a href="{{ block.settings.recent_blog_post_link }}">
                      {% if block.settings.recent_blog_post_image != blank %}
                          <img src="{{ block.settings.recent_blog_post_image | img_url: 'master' }}">
                          {% endif %}
                          {% if block.settings.title != blank %}
                              <h2>{{ block.settings.title }}</h2>
                          {% endif %}
                      </a>
                  </div>
              {% endif %}
          {% endfor %}
      </div>
  </section>
  {%- comment -%} recent blogpost ends here {%- endcomment -%}





  <script>
    $(document).ready(function(){
        $('.blog-section-container').slick({
            slidesToShow:2,
            slidesToScroll: 1,
            arrows:true,
            infinite: true, 
            autoplay: true,
            autoplaySpeed: 3000,
            dots:false,
            responsive: [
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 460,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
          });
    });
</script>

<style>
  .blog-container img{
    border-radius: 20px;
  }
    .blog-post-container{
        margin-top: 50px;
      }
      .blog-posts-carousel-section .blog-post-text-continer .landing_section_header{
        margin-bottom: 0;
      }
      .blog-posts-carousel-section .blog-post-text-continer{
          display: flex;
          align-items:end;
          justify-content: space-between;
          margin-bottom: 15px;
      }
      .blog-post-link a{
        font-family: 'Poppins';
        font-style: normal;
        font-weight:500;
        font-size:15px;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #946C56;
        text-decoration: underline;
      }
      
      .blog-container{
          position: relative;
          {%- comment -%} max-width:400px; {%- endcomment -%}
      }
      .blog-container h2{
          position: absolute;
          bottom:0;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          color: #FEFDFD;
          text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
          padding: 0 25px;
      }
      .blog-container h2{
        background: linear-gradient(180deg, rgba(217, 217, 217, 0) 28.65%, #222222 100%);
        width: calc(100% - 10px);
        padding-bottom: 10px;
        padding-top: 50%;
        border-radius: 20px;
      }
      .blog-section-container:not(.slick-initialized){
          display: flex;
          gap: 50px;
      }



  .slick-disabled {
    display: none !important;
}



  .blog-section-container  .slick-arrow,.explore-collection-section .slick-arrow{opacity:1;color:transparent; position:absolute;top:50%; transform:translateY(-50%);z-index:7;transition:all 0.3s ease;}
  .blog-section-container:hover  .slick-arrow,.explore-collection-section:hover  .slick-arrow{
  	opacity:1;
  }
  .blog-section-container  .slick-arrow:before,.explore-collection-section .slick-arrow:before{
  	content:'';
    position:absolute;
    width:32px;
    height:32px;
    background-color:#fff;
    border-radius:50%;
  }
  .blog-section-container  .slick-arrow:after,.explore-collection-section .slick-arrow:after{
  	content:'';
    position:absolute;
    width:12px;
    height:12px;
    border-left:3px solid #000;
    border-bottom:3px solid #000;
    top:50%;
    transform:rotate(45deg) translateY(-50%);
  }
  .blog-section-container  .slick-arrow.slick-prev,.explore-collection-section  .slick-arrow.slick-prev{
  	left:0;
    margin-left:12px;
  }
  .blog-section-container  .slick-arrow.slick-prev:after,.explore-collection-section  .slick-arrow.slick-prev:after{
  	left:8px;
  }
  .blog-section-container  .slick-arrow.slick-next,.explore-collection-section  .slick-arrow.slick-next{
  	right:30px;
    margin-right: 8px;
  }
  .blog-section-container  .slick-arrow.slick-next:after,.explore-collection-section  .slick-arrow.slick-next:after{
  	right:15px;
    top:10px;
    transform:rotate(225deg) translateY(0%);
  }
  .brands-slider-box{
    margin:15px;
    overflow:hidden;
    border-radius:10px;
    position:relative;
  }
  .slick-dots{list-style:none;text-align:center;}
  .slick-dots  button{display:none;}
  .slick-dots li{display:inline-block;margin:5px;width:8px;height:8px;border-radius:50%;border:1px solid #b89c7d;}
  .slick-dots li.slick-active{background-color:#b89c7d;}
  .blog-posts-carousel-section .blog-post-link {margin-right: -7px;}
  @media only screen and (min-width:769px) {
    .blog-section-container.slick-initialized {margin: 0 -15px;}
    .blog-posts-carousel-section .blog-container {padding: 0 15px;}
    .blog-container h2{width:calc(100% - 30px);}
    .blog-section-container .slick-arrow.slick-prev{left: 15px;}
    .blog-section-container .slick-arrow.slick-next{right: 15px;}
  }
  @media only screen and (max-width:768px) {
    .blog-container img{
      width:100%;
    }
    .blog-container h2{
      width:100%;
    }
  }
  @media only screen and (max-width:592px) {
    .blog-post-container{
        padding: 0px;
        margin-top: 20px;
      }
      .blog-post-text-continer{
        padding-left:20px;
        padding-right: 10px;
      }
      .container-combo{
        margin-top: 37px;
      }
      .blog-container img{
        padding-right:0px;
      }
      .blog-section-container  .slick-arrow.slick-next:after,.explore-collection-section  .slick-arrow.slick-next:after{
        right:12px;
        transform:rotate(225deg) translateY(0%);
      }
      .blog-section-container  .slick-arrow.slick-next,.explore-collection-section  .slick-arrow.slick-next{
        right:5px;
        margin-right: 8px;
      }
      .blog-section-container  .slick-arrow:after,.explore-collection-section .slick-arrow:after{
        top:54%;
      }
      .blog-container h2,.blog-container img{
        border-radius:0;
      }
  }

</style>
  {% schema %}
  {
    "name": "Blog Posts Carousel",
    "class": "blog-posts-carousel-section",
    "settings": [
        {
          "type":"text",
          "id":"heading_one",
          "label":"Heading"
        },
        {
          "type":"text",
          "id":"heading_two",
          "label":"Sub Heading"
        },
        {
          "type":"text",
          "id":"view_text",
          "label":"View Text"
        },
        {
          "type":"url",
          "id":"url_link",
          "label":"Link"
        }
    ],
    "name": "Blog Posts Carousel ",
    "blocks":[
        {
        "type": "blog",
        "name": "blog post",
        "settings": [
          {
        "type":"image_picker",
        "id":"recent_blog_post_image",
        "label":"Select Image"
          },
      {
        "type":"url",
        "id":"recent_blog_post_link",
        "label":"Link"
      },
      {
            "type": "text",
            "id": "title",
            "label": "Blog Title"
          }
        ]
      }
    ],
    "presets": [
{
"name": "Blog Posts Carousel",
"category": "Custom"
}
]
  }
{% endschema %}