{%- capture section_settings -%}
{
  "stackable": false,
  "layout": "vertical",
 "draggable": false
}
{%- endcapture -%}

<section data-id="shopify-section-{{section.settings.old_section_id}}" class="section collection-move collection-productmove" id="shopify-section-{{section.id}}" data-section-id="{{ section.id }}" data-section-type="featured-collection" data-section-settings='{{ section_settings }}'>
 <div class="container ">
   <div class="scroller scroller--flush">
            <div class="scroller__inner">
   <div class=" product-list product-list--scrollable flickyslider" data-flickity='{ "draggable": false,"adaptiveHeight": true }'> 
    <div data-id="block-{{section.settings.old_section_id}}" id="block-{{ section.id }}" class="collect-block  {% if section.settings.title != blank %}{{ section.settings.title | downcase | replace: " ", "" }} {% endif %}">
      {%- assign collection = collections[section.settings.collection] -%}

      <div class="featured-collection lazyload" {% if section.settings.image %}data-bgset="{{ section.settings.image | img_url: '1000x' }} [--lap]"{% endif %}>
        <header class="featured-collection__header lazyload" {% if section.settings.image %}data-bgset="{{ section.settings.image | img_url: '1000x' }} [--tablet]"{% endif %}>
          {%- if section.settings.title != blank -%}
            <h2 class="featured-collection__title heading h2">{{ section.settings.title | escape }}</h2>
          {%- endif -%}

          {%- if section.settings.content != blank -%}
            <div class="featured-collection__text">{{ section.settings.content | escape | newline_to_br }}</div>
          {%- endif -%}

          {%- if section.settings.button_text != blank -%}
            <a href="{{ section.settings.button_link | default: collection.url | default: '#' }}" class="featured-collection__cta button button--floating">{{ section.settings.button_text | escape }}</a>
          {%- endif -%}
        </header>
        


        <div class="featured-collection__content">
          <div class="product-list product-list--scrollable sliderproducts" data-flickity='{ "cellAlign": "left", "contain": true,"groupCells": true }'>
                {%- assign grid_classes = '1/2--lap 1/3--desk 1/4--wide' -%}

                {%- unless collection.empty? -%}
                  {%- for product in collection.products limit: section.settings.products_count -%}
                    {% if section.settings.show_sold_out or product.available %}                                          
                      {%- render 'featured-collection-product-items', product: product, grid_classes: grid_classes, show_add_to_cart: false -%}
                    {% endif %}
                  {%- endfor -%}
                {%- elsif section.blocks.size > 0 -%}
                 {% for block in section.blocks %}
            	 {% if block.type == 'product' %}
                  {% assign product1 = block.settings.product %} 
                  {% if product1.id != '' %}
                    {% if section.settings.show_sold_out or product1.available %}                                          
                        {%- render 'featured-collection-product-items', product: product1, grid_classes: grid_classes, show_add_to_cart: false -%}
                      {% endif %}
                  {% endif %}
            {% endif %}
                {% endfor %}
            
                {% comment %}
                {%- else -%}
                  {%- for i in (1..section.settings.products_count) -%}
                    {%- render 'product-item-placeholder', grid_classes: grid_classes -%}
                  {%- endfor -%}
                {% endcomment %} 
                {%- endunless -%}
              </div>
        </div>
      </div>
    </div>
  </div>
              </div>
  </div>
  </div>
</section>


              <style>
            #block-{{ section.id }} {
              color: {{ section.settings.text_color }};
              background-color:{{ section.settings.background }};
              border-radius: 10px;
            }

            #block-{{ section.id }} .button {
              color: {{ section.settings.button_text_color }};
              background: {{ section.settings.button_background  }};
            }

            #block-{{ section.id }} .button:hover {
              background: {{ section.settings.button_background | color_modify: 'alpha', 0.8 }} !important;
            }

           
          </style>

<style>

        #shopify-section-{{ section.id }} #{{section.id}} {
        background-color: {{ section.settings.background }};
      }

      #shopify-section-{{ section.id }} #{{section.id}} .featured-collection__header {
        color: {{ section.settings.text_color }};
      }

      #shopify-section-{{ section.id }} #{{section.id}} .button {
        color: {{ section.settings.button_text_color }};
        background-color: {{ section.settings.button_background }};
      }
</style>


{% schema %}
{
  "name": "Custom Featured Category",
  "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "range",
            "id": "products_count",
            "label": "Products to show",
            "min": 3,
            "max": 30,
            "step": 1,
            "default": 3
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1000 x 400px .png with transparency recommended (hidden on mobile)"
          },
          {
            "type": "color",
            "id": "background",
            "label": "Background",
            "default": "#0774d7"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text",
            "default": "#ffffff"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Featured collection"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Text",
            "default": "Tell more about your product, collection..."
          },
          {
            "type": "checkbox",
            "id": "show_sold_out",
            "label": "Show Sold out products",
            "default": true
          },                                                          
          {
            "type": "header",
            "content": "Button"
          },
          {
            "type": "color",
            "id": "button_background",
            "label": "Background",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "button_text_color",
            "label": "Text",
            "default": "#0774d7"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Text",
            "default": "Learn more"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Link",
            "info": "If left empty, collection URL is used."
          },
          {
            "type": "text",
            "id": "old_section_id",
            "label": "Old Section ID for App"
          }
	  ],
   "blocks": [
	  {
        "type": "product",
        "name": "product",
        "settings": [
		  {
            "id": "product",
            "type": "product",
            "label": "Product",
			"info": "If not an actual collection, then this product will be displayed"
          }
        ]
     }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Collection with image1",
      "settings": {}
    }
  ]
}
{% endschema %}