{%- capture section_settings -%}
{
  "stackable": {% if section.settings.layout == 'vertical' and section.settings.stack_products == false %}false{% else %}true{% endif %},
  "layout": {{ section.settings.layout | json }}
}
{%- endcapture -%}

<section class="without-images-faetured section {% if section.settings.title != blank %}{{ section.settings.title | downcase | replace: " ", "" }} {% endif %}" data-section-id="{{ section.id }}" data-section-type="featured-collection" data-section-settings='{{ section_settings }}'>

  <div class="container">
    <div class="shopby-background">
    <div class="without-images-faetured-inn">
    <header class="section__header">
      <div class="section__header-stack">
        <h4 class="section__title heading ">{{ section.settings.title }}</h4>
      </div>
      </header>
		<div class="without-images-faetured-text">
      {%- if section.settings.description != blank -%}
      	<div> {{ section.settings.description }} </div>  
      {%- endif -%}
      
      {% if section.settings.button_title != blank %}
      	<a href="{{ section.settings.link_url }}" class="button"> {{ section.settings.button_title }} </a>
      {% endif %}
      </div>
    </div>
    <div class="featured-collection__content">
      <div class="scroller scroller--flush">
        <div class="scroller__inner">
          <div class="product-list product-list--scrollable " data-flickity='{ "cellAlign": "left", "contain": true,"pageDots": false,"watchCSS": true,"groupCells": true  }'>
 
                {% for block in section.blocks %}
                {%- capture grid_classes -%}1/3--tablet 1/{{ section.settings.products_per_row }}--lap-and-up{%- endcapture -%}
               
                  {% assign product = all_products[block.settings.product] %}
                  {%- render 'product-item', product: product, list: false, grid_classes: grid_classes,reviews_allowed: 'no' -%}
               
                {% endfor %}
            
            
          
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  
 

</section>

{% schema %}
{
  "name": "Featured Information",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
	{
      "type": "html",
      "id": "description",
      "label": "Description"
    },
	{
      "type": "text",
      "id": "button_title",
      "label": "Button name"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Button Link"
    }
  ],
  "blocks": [
	  {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "id": "product",
            "type": "product",
            "label": "Product"
          }
        ]
      }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Featured Information",
      "settings": {}
    }
  ]
}
{% endschema %}