{%- capture section_settings -%}
{
  "stackable": {% if section.settings.layout == 'vertical' and section.settings.stack_products == false %}false{% else %}true{% endif %},
  "layout": {{ section.settings.layout | json }}
}
{%- endcapture -%}

{%- if section.blocks.size > 0 -%} 
  {%- if section.settings.logged_in -%}
  {%- else -%}
    <section class="section noproductcollection {% if section.settings.title != blank %}{{ section.settings.title | downcase | replace: " ", "" }} {% endif %}" data-section-id="{{ section.id }}" data-section-type="featured-collection" data-section-settings='{{ section_settings }}'>

    <div class="container">
      {% if section.settings.title1 != blank or section.settings.title2 != blank %}
      <header class="landing_section_header{% if section.settings.link_title != blank and section.settings.button_position == 'top' %} header-flex{% endif %}">
        <div class="landing_header_wrap">
          {% if section.settings.title1 != blank %}
            <h3 class="landing_subheading">{{ section.settings.title1 }}</h3>
          {% endif %}
          {% if section.settings.title2 != blank %}
            <h2 class="landing_heading">{{ section.settings.title2 }}</h2>
          {% endif %}
        </div>
        {%- if section.settings.link_title != blank and section.settings.button_position == 'top' -%}
          <div class="view_all_link_wrap">
            <a href="{{ section.settings.link_url | default: collection.url | default: '#' }}" class="view_all_link">{{ section.settings.link_title | escape }}</a>
          </div>
        {%- endif -%}
      </header>
      {% endif %}
    </div>
      
    <div class="container {% if section.settings.layout != 'vertical' or section.settings.stack_products %}container--flush{% endif %}">
      {%- capture product_list -%}
        <div class="product-list product-list--{{ section.settings.layout }} {% if section.settings.stack_products %}product-list--stackable{% elsif section.settings.layout == 'vertical' %}product-list--scrollable{% endif %}">
          {%- assign use_placeholder = false -%}

          {%- for block in section.blocks -%}
          {% if block.type == 'Product' %}
            {% assign product = block.settings.product %}
            {% if product.id != '' %}
              {% if section.settings.show_sold_out or product.available %}
                {%- if section.settings.layout == 'vertical' -%}
                  {%- assign products_per_row = section.settings.products_count | at_most: 6 -%}

                  {%- if section.settings.stack_products -%}
                    {%- capture grid_classes -%}1/2 1/4--lap 1/{{ products_per_row }}--desk 1/{{ products_per_row }}--wide{%- endcapture -%}
                  {%- else -%}
                    {%- capture grid_classes -%}1/4--lap 1/{{ products_per_row }}--desk 1/{{ products_per_row }}--wide{%- endcapture -%}
                  {%- endif -%}

                  {%- if use_placeholder -%}
                    {%- include 'product-item-placeholder', product: product, grid_classes: grid_classes, show_add_to_cart: section.settings.show_quick_buy -%}
                  {%- else -%}
                    {%- include 'landing-page-product-item', product: product, grid_classes: grid_classes, show_add_to_cart: section.settings.show_quick_buy -%}
                  {%- endif -%}
                {%- elsif section.settings.layout == 'horizontal' -%}
                  {%- if use_placeholder -%}
                    {%- include 'product-item-placeholder', product: product, horizontal: true, grid_classes: '1/2--tablet 1/3--lap-and-up', show_add_to_cart: false -%}
                  {%- else -%}
                    {%- include 'landing-page-product-item', product: product, horizontal: true, grid_classes: '1/2--tablet 1/3--lap-and-up', show_add_to_cart: false -%}
                  {%- endif -%}
                {%- else -%}
                  {%- assign mod = forloop.index0 | modulo: 3 -%}

                  {%- if mod == 0 -%}
                    <div class="product-list__column product-list__column--highlight">
                  {%- elsif mod == 1 -%}
                    <div class="product-list__column {% if forloop.last %}product-list__column--shrink{% endif %}">
                  {%- endif -%}

                  {%- if mod == 0 -%}
                    {%- if use_placeholder -%}
                      {%- include 'product-item-placeholder', product: product, show_add_to_cart: false -%}
                    {%- else -%}
                      {%- include 'landing-page-product-item', product: product, show_add_to_cart: false -%}
                    {%- endif -%}
                  {%- else -%}
                    {%- if use_placeholder -%}
                      {%- include 'product-item-placeholder', product: product, horizontal: true, show_add_to_cart: false -%}
                    {%- else -%}
                      {%- include 'landing-page-product-item', product: product, horizontal: true, show_add_to_cart: false -%}
                    {%- endif -%}
                  {%- endif -%}

                  {%- if mod == 0 or mod == 2 or forloop.last -%}
                    </div>
                  {%- endif -%}
                {%- endif -%}
              {%- endif -%}
            {% endif %} 
          {% endif %}
          {%- endfor -%}
        </div>
      {%- endcapture -%}

      {%- if section.settings.layout == 'vertical' and section.settings.stack_products == false -%}
        <div class="scroller">
          <div class="scroller__inner">
            {{ product_list }}
          </div>
        </div>
      {%- else -%}
        {{ product_list }}
      {%- endif -%}
    </div>

    {%- comment -%}
    --------------------------------------------------------------------------------------
    QUICK VIEW CONTAINER
    --------------------------------------------------------------------------------------
    {%- endcomment -%}

    <div id="modal-quick-view-{{ section.id }}" class="modal quick-view-product-modal" aria-hidden="true">
      <div class="modal__dialog modal__dialog--stretch" role="dialog">
        <button class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
          {%- render 'icon', icon: 'close' -%}
        </button>

        <div class="modal__loader">
          {%- render 'icon', icon: 'search-loader' -%}
        </div>

        <div class="modal__inner"></div>
      </div>
    </div>
    </div>
    {%- if section.settings.link_title != blank and section.settings.button_position == 'bottom' -%}
     <div class="btn-center">
          <a href="{{ section.settings.link_url | default: collection.url | default: '#' }}" class="featured-collection__cta button button--floating empty-colletionview">{{ section.settings.link_title | escape }}</a>
    </div>
       {%- endif -%}
  </section>
  {%- endif -%}
{%- endif -%}

<script>
  $(document).ready(function(){
    vendorMsgFunc(`{{product.id}}`, `{{product.vendor}}`);
  })
</script>


<style>
  .section__header{
margin-bottom: 6px;
  }
{%- comment -%} .product-item__image-wrapper{
  position: relative;
}
.product-item__image-wrapper.new_design .cart--button__row{
  position: initial;
} {%- endcomment -%}

{%- comment -%} .cart--button__row .wk-button{
    position: absolute;
    top: 0%;
    left:85%;
    z-index: 999;
    background: rgba(179, 157, 129, 0.33);
    border: 1px solid #FEFDFD;
    border-radius: 8px;
    padding: 5px;
    margin-top: 10px;
} {%- endcomment -%}
{%- comment -%} .wk-button__icon{
  margin: auto !important;
}
.cart--button__row .wk-button{
  margin-top: 10px !important;
}
.product-item__image-wrapper form{
    position: absolute;
    bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
} {%- endcomment -%}
{%- comment -%} .product-item__image-wrapper.new_design form button{
    background: linear-gradient(91.36deg, rgba(148, 108, 86, 0.33) 4.13%, rgba(255, 255, 255, 0.33) 96.87%);
    border: 1px solid #FEFDFD;
    box-shadow: 4px 4px 15px rgb(179 157 129 / 50%);
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FEFDFD;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
    margin-bottom: 12px;
}
.price_review_alignment{
    {%- comment -%} display: flex;
    flex-direction: row-reverse;
    width: 100%; {%- endcomment -%}
}
.product-item--vertical .price:not(.price--compare) .price_alignment{
  margin-right: 0px;
}
.product-list--scrollable .product-item{
  padding: 0;
}
.product-item__info-inner{
  padding: 0 13px;
} {%- endcomment -%}
    .section_header_alignment{
        display:block;
    }
    @media only screen and (max-width:592px) {
        .product-list--scrollable{
            padding-left:22px;
        }
        .section{
            padding-bottom: 0px;
            padding-top: 36px;
        }
      }
      @media (max-width: 767px){
       .price-list {
         display: block;
         line-height: 1.8;
        }
      }
        .landing-recommends-section .stamped-product-reviews-badge .stamped-badge{display:none;}

</style>

{% schema %}
{
  "name": "Landing Recommends",
  "class": "landing-recommends-section",
  "settings": [
    {
      "type": "text",
      "id": "title1",
      "label": "Sub Heading",
      "default": "Featured Products"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Heading",
      "default": "Featured Products"
    },
	{
      "type": "checkbox",
      "id": "logged_in",
      "label": "Hide this section if user is logged-in",
      "default": false
    },
    {
      "type": "range",
      "id": "products_count",
      "label": "Products to show",
      "min": 2,
      "max": 100,
      "step": 1,
      "default": 3
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "vertical",
          "label": "Vertical"
        },
        {
          "value": "horizontal",
          "label": "Horizontal"
        },
        {
          "value": "collage",
          "label": "Collage"
        }
      ],
      "default": "vertical"
    },
    {
      "type": "checkbox",
      "id": "stack_products",
      "label": "Stack products",
      "info": "Only applicable if layout is set to vertical",
      "default": false
    },
	{
      "type": "checkbox",
      "id": "show_sold_out",
      "label": "Show Sold out products",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_quick_buy",
      "label": "Show quick buy",
      "default": false,
      "info": "Only shows if layout is set to vertical"
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "Link title",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL",
      "info": "If empty, the collection URL is used."
    },
	{
      "type": "select",
      "id": "button_position",
      "label": "Button Position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "top"
    }
  ],
  "blocks": [
	{
		"type": "Product",
        "name": "product",
		"settings": [
          {
            "id": "product",
            "type": "product",
            "label": "Product"
          }
         ]
	}
  ],
  "presets": [
    {
      "category": "Products",
      "name": "landing page recommendation",
      "settings": {}
    }
  ]
}
{% endschema %}