<div class="usp-wrappper">
  <div class="usp-banner">
  	{%- assign imageURL = section.settings.banner_image | img_url:"master" -%}
    <img src="{{ imageURL }}" alt="{{section.settings.page_heading}}">
    <h2>{{section.settings.page_heading}}</h2>
  </div>
  <div class="container usp-container">
    	<div class="">{{section.settings.content}}</div>	
    <div class="usp-details-blocks">
    	 {% for block in section.blocks %}
      <div class="d-flex">
        <div class="usp-details-image">
        {%- assign imageURL = block.settings.d_image | img_url:"400x400", crop:"center" -%}
   		 <img src="{{ imageURL }}" alt="{{block.settings.d_heading}}">
        </div>
        <div class="usp-details-text">
          <h3>{{block.settings.d_heading}}</h3>
          <p>{{block.settings.d_details}}</p>
        </div>
      </div>
      	 {%endfor%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Ethos Pages",
    "settings": [
	{
      "type": "image_picker",
      "id": "banner_image",
      "label": "Page Banner"
    },
		{
          "type": "text",
          "id": "page_heading",
          "label": "Page Heading"
        },
		  {
            "type": "richtext",
            "id": "content",
            "label": "Description"
          }
	],
	"blocks": [
      {
        "type": "text",
        "name": "Add block",
        "settings": [
			
          {
            "type": "image_picker",
            "id": "d_image",
            "label": "Image"
          },
		  {
            "type": "text",
            "id": "d_heading",
            "label": "Heading"
          },
		  
          
{
            "type": "richtext",
            "id": "d_details",
            "label": "Detail Text"
          }
        ]
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<style>
  .usp-wrappper{font-family:"Libre Baskerville", serif;}
  .usp-banner{position:relative;margin-bottom:20px;}
  .usp-banner img{width:100%;}
  .usp-banner h2{font-size:2.5rem;color:#fff;position:absolute;width:100%;text-align:center;top:50%;left:0;transform:translateY(-50%);}
  .usp-container{max-width:800px;}
  .usp-details-blocks .d-flex{
  	display:flex;flex-wrap:wrap;
    margin:35px 0;
    justify-content:space-between;
    align-items:center;
  }
  .usp-details-blocks .d-flex .usp-details-image{width:100%; text-align:center;}
  .usp-details-blocks .d-flex .usp-details-image img{width:100%;max-width:150px;margin:auto;}
  .usp-details-blocks .d-flex .usp-details-text{width:100%;text-align:center;margin-top:20px;}
  .usp-details-blocks .d-flex .usp-details-text h3{font-size:22px; color:#b89c7d;margin-bottom:15px;font-weight:bold;}
	 @media(max-width:768px){
    .usp-banner h2{font-size:1.2rem;}
  }
</style>
