<div class="container container--narrow">
    <header class="page__header page__header--stack page__header--centered">
        <h1 class="page__title heading h1">{{ page.title }}</h1>
        {%- if page.content != blank -%}
        <div class="page__description rte">
            {{ page.content }}
        </div>
        {%- endif -%}
    </header>
</div>
<div class="container container--medium">
    <div class="layout">
        <div class="layout__section">
            <form id="career_form"  accept-charset="UTF-8" enctype="multipart/form-data">
                {%- if section.settings.show_store_info -%}
                <div class="form__header">
                    <h2 class="heading h3">{{ section.settings.form_heading | escape }}</h2>
                </div>
                {%- endif -%}
              	<div class="message_box" id="message_box"></div>
              	<input type="hidden" name="action" value="resumeupload">
                <div class="form__input-row">
                    <div class="form__input-wrapper form__input-wrapper--labelled">
                        <input id="contact-form-name" type="text" class="form__field form__field--text {% if customer.name != blank %}is-filled{% endif %}" name="contact[name]" aria-label="{{ 'contact.form.name' | t }}" required {% if customer %}value="{{ customer.name }}" {% endif %}>
                        <label for="contact-form-name" class="form__floating-label">{{ 'contact.form.name' | t }}</label>
                    </div>
                    <div class="form__input-wrapper form__input-wrapper--labelled">
                        <input id="contact-form-email" type="email" class="form__field form__field--text {% if customer.email != blank %}is-filled{% endif %}" name="contact[email]" aria-label="{{ 'contact.form.email' | t }}" required {% if customer %}value="{{ customer.email }}" {% endif %} {% if form.errors contains 'email' %}aria-invalid="true" aria-describedby="contact-form-error" {% endif %}>
                        <label for="contact-form-email" class="form__floating-label">{{ 'contact.form.email' | t }}</label>
                    </div>
                </div>
                {%- for block in section.blocks -%}
                {%- assign field_title = block.settings.title -%}
                {%- if field_title == blank -%}
                {%- capture field_title -%}Custom field {% increment custom_field %}{%- endcapture -%}
                {%- endif -%}
                {%- if block.type == 'text' -%}
                <div class="form__input-wrapper form__input-wrapper--labelled">
                    {%- if block.settings.use_long_text -%}
                    <textarea id="contact-form-{{ field_title | handle }}" name="contact[{{ field_title | escape }}]" rows="7" class="form__field form__field--textarea" aria-label="{{ block.settings.title | escape }}" {% if block.settings.is_required %}required{% endif %}></textarea>
                    <label for="contact-form-{{ field_title | handle }}" class="form__floating-label">{{ block.settings.title | escape }}</label>
                    {%- else -%}
                    <input id="contact-form-{{ field_title | handle }}" type="text" class="form__field form__field--text" name="contact[{{ field_title | escape }}]" aria-label="{{ block.settings.title | escape }}" {% if block.settings.is_required %}required{% endif %}>
                    <label for="contact-form-{{ field_title | handle }}" class="form__floating-label">{{ block.settings.title | escape }}</label>
                    {%- endif -%}
                </div>
                {%- elsif block.type == 'dropdown' -%}
                {%- assign values = block.settings.values | split: ',' -%}
                {%- if values == empty -%}
                {%- continue -%}
                {%- endif -%}
                <div class="form__input-wrapper form__input-wrapper--labelled">
                    <div id="contact-form-{{ field_title | handle }}" class="select-wrapper select-wrapper--primary">
                        {%- render 'icon', icon: 'arrow-bottom' -%}
                        <select name="contact[{{ field_title | escape }}]" title="{{ block.settings.title | escape }}" required>
                            <option value="" disabled selected></option>
                            {%- for value in values -%}
                            {%- assign trim_value = value | strip -%}
                            <option value="{{ trim_value | escape }}">{{ trim_value | escape }}</option>
                            {%- endfor -%}
                        </select>
                    </div>
                    <label for="contact-form-{{ field_title | handle }}" class="form__floating-label">{{ block.settings.title | escape }}</label>
                </div>
                {%- endif -%}
                {%- endfor -%}
                <div class="form__input-wrapper form__input-wrapper--labelled">
                    <textarea id="contact-form-message" name="contact[body]" rows="8" class="form__field form__field--textarea" aria-label="{{ 'contact.form.message' | t }}" required></textarea>
                    <label for="contact-form-message" class="form__floating-label">{{ 'contact.form.message' | t }}</label>
                </div>
                <div class="product-form__item product-form__item--upload">
                    <label for="upload">Upload</label>
                    <input required class="required" id="upload" type="file" name="attachment" class="product-form__input">
                </div>
                <button type="submit" id="career_submit_btn" class="button button--primary button--min-width">{{ 'contact.form.submit' | t }}</button>
            </form>
        </div>
        {%- if section.settings.show_store_info -%}
        <div class="layout__section layout__section--large-secondary">
            <div class="contact__store-info">
                {%- if section.settings.store_heading != blank -%}
                <h2 class="contact__store-heading heading h3">{{ section.settings.store_heading | escape }}</h2>
                {%- endif -%}
                {%- if section.settings.store_image -%}
                <div class="contact__store-image">
                    <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: section.settings.store_image.aspect_ratio }}%">
                        <img src="{{ section.settings.store_image | img_url: '700x' }}" alt="{{ section.settings.store_image.alt | escape }}">
                    </div>
                </div>
                {%- endif -%}
                {%- if section.settings.store_info != blank -%}
                <div class="contact__store-text rte">
                    {{ section.settings.store_info }}
                </div>
                {%- endif -%}
            </div>
        </div>
        {%- endif -%}
    </div>
</div>

<script>
  $(document).ready(function() {
    $('#career_form').on('submit', function(e) {
      e.preventDefault();

      var $that = $(this);
      var $form = $('form#career_form');

      var action = theme.apiUrl+'/sendemails.php';
      var params = new FormData($('form#career_form')[0]);

      var resopnse = jQuery.ajax({
        type: "POST",
        url: action,
        data: params,
        contentType: false,
        processData: false,
        dataType: 'json',
        success: function(result) {
          $('form#career_form').trigger("reset");
		  if(result.status == false){
            $('#message_box').addClass('error').append('<p class="alert alert--error">'+ result.message +'</p>');
          	return false;
          } else {
          	$('#message_box').addClass('success').append('<p class="alert alert--success">Thank you for sharing your concern.</p><p>We have received your request, we will get back to you soon with an update.</p>');
          	return true;
          }
		},
        error: function(argument) {
          console.log(argument.responseText);
          if(argument.responseText){
            $('#message_box').addClass('error').append('<p class="alert alert--error">'+ argument.responseText +'</p>');
            return false;
          } else {
            $('form#career_form').trigger("reset");
            $('#message_box').addClass('success').append('<p class="alert alert--success">Thank you for sharing your concern.<br/>We have received your request, we will get back to you soon with an update.</p>');
          	return true;
          }
        }
      });
    });
  });
</script>