{%- capture section_settings -%}
{
  "stackable": false,
  "layout": "vertical",
  "productId": {{ product.id | json }},
  "recommendationsCount": 10
}
{%- endcapture -%}

{% assign product_list = '' %}


	{% paginate collections['top-sellers'].products by 1000 %}
		{% for product_related in collections['top-sellers'].products %}
		  {% for tag in product.tags %}
            {% if product_related.tags contains tag and product_related.tags contains '__label:Expert Pick' %}
                  {% if product_list == '' %}
                      {% assign product_list = product_related.handle %}
                  {% else %}
                      {% assign product_list = product_list | append: ',' | append:product_related.handle %}
                  {% endif %}
            {% endif %}
		  {% endfor %}
        {% endfor %}
	{% endpaginate %}

{% assign product_list = product_list | remove: product.handle %}

{% assign product_list_array =  product_list | split: ',' | uniq %}

{% assign minimum_limit = section.settings.min_products %}

{%- if section.settings.show_expert_picks_products and product_list_array.size >= minimum_limit -%}
  <section class="section" data-section-id="{{ section.id }}" data-section-type="product-recommendations" data-section-settings='{{ section_settings }}'>
    <div class="container">
      {%- if section.settings.heading != blank -%}
        <header class="section__header">
          <h2 class="section__title heading h3">{{ section.settings.heading | escape }}</h2>
        </header>
      {%- endif -%}

      <div class="product-related">
          <div class="scroller">
            <div class="scroller__inner">
              <div class="product-list product-list--vertical product-list--scrollable">
				  {% assign products_count = 0 %}
                  {%- for item in product_list_array -%}
                	{% if products_count == section.settings.products_count %}
                		{% break %}
					{% endif %}
                
                	{% assign item_handle = item | strip %}
                        {%- assign related_product = all_products[item_handle] -%}

                        {% if section.settings.show_sold_out or related_product.available %}
                          {%- unless related_product.empty? -%}
                			{% assign products_count = products_count | plus: 1 %}
                            {%- render 'product-item', product: related_product, grid_classes: '1/4--lap 1/5--desk 1/5--wide', show_add_to_cart: section.settings.show_quick_buy -%}
                          {%- endunless -%}
                        {% endif %}
                  {%- endfor -%}
              </div>
            </div>
          </div>
      </div>
    </div>

    {%- comment -%}
    --------------------------------------------------------------------------------------
    QUICK VIEW CONTAINER
    --------------------------------------------------------------------------------------
    {%- endcomment -%}

    <div id="modal-quick-view-{{ section.id }}" class="modal quick-view-product-modal" aria-hidden="true">
      <div class="modal__dialog modal__dialog--stretch" role="dialog">
        <button class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
          {%- render 'icon', icon: 'close' -%}
        </button>

        <div class="modal__loader">
          {%- render 'icon', icon: 'search-loader' -%}
        </div>

        <div class="modal__inner"></div>
      </div>
    </div>
  </section>
{%- endif -%}

{% schema %}
{
  "name": "Auto Expert Picks",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_expert_picks_products",
      "label": "Show dynamic Expert Picks Products",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "You may also like"
    },
	{
      "type": "range",
      "id": "products_count",
      "label": "Products to show",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 10
    },
	{
      "type": "range",
      "id": "min_products",
      "label": "Minimum products to show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 5,
	  "info": "If the products for this section have less than this count, then this section will not be displayed."
    },
    {
      "type": "checkbox",
      "id": "show_quick_buy",
      "label": "Show quick buy",
      "default": true
    },
	{
      "type": "checkbox",
      "id": "show_sold_out",
      "label": "Show Sold out Products",
      "default": true,
	 "info": "show sold out items also"
    }
  ]
}
{% endschema %}