{%- liquid

  if section.settings.show_banner_food_pdp
    assign show_in_mindful_eating = false
    assign show_in_ethical_beauty = false
    assign show_mindful_beauty_product = false
    assign list_mindful_eating_collections = settings.global_mindful_eating-list
    assign list_ethical_beauty_collections = settings.global_ethical_beauty-list
    assign mindful_eating_collections = list_mindful_eating_collections | split: ','
    assign ethical_beauty_collections = list_ethical_beauty_collections | split: ','
    for collection in product.collections
      for mindful_eating_col in mindful_eating_collections
          if collection.handle == mindful_eating_col
              assign show_in_mindful_eating = true
              break
          else
              continue
          endif
      endfor
      for ethical_beauty_col in ethical_beauty_collections
          if collection.handle == ethical_beauty_col
              assign show_in_ethical_beauty = true
              break
          else
              continue
          endif
      endfor
    endfor
    if show_in_mindful_eating or show_in_ethical_beauty
      assign show_mindful_beauty_product = true
    endif 
  endif

-%}
{%- liquid
  assign collection_with_metafield = ""
  assign show_banner_metafield = false
  assign current_subcategory_handle = false
  if collection.handle 
    assign current_subcategory_handle = collection.handle
  endif
  for collection_name in product.collections
      if current_subcategory_handle
        assign collection_with_metafield = current_subcategory_handle
        break
      elsif collection_name.metafields.custom.collection_pdp_banner_products and collection_name.handle != 'all' and collection_name.handle != 'new-arrivals' and collection_name.handle != 'bestselling-products' and collection_name.handle != 'mindful-eating' and collection_name.handle != 'joyful-home' and collection_name.handle != 'ethical-beauty' and collection_name.handle != 'mens-wear' and collection_name.handle != 'women' and collection_name.handle != 'responsible-fashion' and collection_name.handle != 'conscious-family'
        assign collection_with_metafield = collection_name.handle
        break
      endif
  endfor
  for banner in collections[collection_with_metafield].metafields.custom.collection_pdp_banner_products.value
    if banner.displaybanner == true
      assign show_banner_metafield = true
    endif
  endfor
-%}


{% if section.settings.show_banner_food_pdp and show_banner_metafield %}
  {% render 'pdp-collection-scrollable-banner' %}

{% else %}

<section class="section image-with-text-overlay-grid-container pdp_curated_col">
    <div class="container">
      {% if section.settings.curated_collection_heading %}
        <header class="section__header">
            <h4 class="section__title heading ">{{ section.settings.curated_collection_heading }}</h4>
        </header>
      {% endif %}
      <div class="image_grid image-slider-{{section.id}}">
        {% for block in section.blocks %}
          <div class="image_item">
            <a href="{{ block.settings.url | default: '#' }}">
              <div class="image-with-text-wrap">
                {% if block.settings.image != blank %}
                  <div class="image-with-text-img-wrap" style="padding-bottom: {{ 100.0 | divided_by: block.settings.image.aspect_ratio }}%">
                    {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,250,300,400,500,600', image: block.settings.image -%}{%- endcapture -%}
                    {%- assign image_url = block.settings.image  | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <img class="image-with-text-img lazyload" alt="{{ block.settings.image.alt | escape }}" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" width="250" height="250">
                    <noscript>
                      <img src="{{ block.settings.image | img_url: '500x' }}" alt="{{ block.settings.image.alt | escape }}">
                    </noscript>
                  </div>
                {% endif %}
                {% if block.settings.title != blank %}
                  <div class="image-with-text-container-wrap">
                    <h2>{{ block.settings.title }}</h2>
                  </div>
                {% endif %}
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
</section>
  
  <style>
    .image-with-text-overlay-grid-section .image_grid {
        margin-left: -19px;
        margin-right: -19px;
        margin-bottom: -14px;
    }
    .image-with-text-overlay-grid-section .image_grid:not(.slick-initialized){
      margin-left: -15px;
      margin-right: -15px;
      display: flex;
      overflow: hidden;
    }
    .image-with-text-overlay-grid-section .image_grid .image_item{
      padding-left: 19px;
      padding-right: 19px;
      padding-bottom: 30px;
      flex: none;
      width: 22.72%;
    }
    .image-with-text-overlay-grid-section .image-with-text-wrap{
      position: relative;
    }
    .image-with-text-overlay-grid-section .image-with-text-img-wrap{
      position: relative;
    }
    .image-with-text-overlay-grid-section .image-with-text-img-wrap:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #b89c7d;
      border-radius: 20px;
      z-index: 1;
    }
    .image-with-text-overlay-grid-section .image-with-text-img-wrap img.lazyload{
      opacity: 0;
    }
    .image-with-text-overlay-grid-section .image-with-text-img-wrap img{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: cover;
      z-index: 2;
      border-radius: 20px;
    }
    .image-with-text-overlay-grid-section .image-with-text-img-wrap{
      min-height: 75px;
    }
    .image-with-text-overlay-grid-section .image-with-text-img-wrap:after{
      content:'';
      background: linear-gradient(182.77deg, rgba(34, 34, 34, 0) 3.83%, rgba(34, 34, 34, 0.3) 39.81%, rgba(34, 34, 34, 0.7) 81.16%);
      border-radius: 0px 0px 20px 20px;
      padding-bottom: 14px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 40%;
      z-index: 3;
    }
    .image-with-text-overlay-grid-section .image-with-text-container-wrap{
      position: absolute;
      bottom: 12px;
      left: 0;
      right: 0;
      z-index: 4;
    }
    .image-with-text-overlay-grid-section .image-with-text-container-wrap h2{
      font-family: 'Poppins';
      font-style: normal;
      font-size: 21px;
      text-align: center;
      color: #fff;
      letter-spacing: 0.1px;
      line-height: 1.3;
      padding: 0 10px;
    }
    .image-with-text-overlay-grid-section .slick-arrow{
      opacity: 0;
      color: transparent;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 99;
      transition: all 0.3s ease;
      background-color: #cab49e;
      font-size: 0;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      left: 0;
    }
    .image-with-text-overlay-grid-section .slick-arrow.slick-next{
      left: unset;
      right: 0;
    }
    .image-with-text-overlay-grid-section .image_grid:hover .slick-arrow{
      opacity: 1;
    }
    .image-with-text-overlay-grid-section .slick-arrow:after{
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-left: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      top: 48%;
      transform: rotate(45deg) translateY(-50%);
      left: 13px;
    }
    .image-with-text-overlay-grid-section .slick-arrow.slick-next:after{
      border-left: none;
      border-bottom: none;
      border-right: 2px solid #ffffff;
      border-top: 2px solid #ffffff;
      left: 9px;
    }
    @media only screen and (max-width:1250px) {
      .image-with-text-overlay-grid-section .image-with-text-container-wrap h2{
        font-size: 18px;
      }
      .image-with-text-overlay-grid-section .image_grid {
        margin-left: -15px;
        margin-right: -15px;
      }
      .image-with-text-overlay-grid-section .image_grid .image_item{
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    @media only screen and (max-width:991px) {
      .image-with-text-overlay-grid-section .image_grid .image_item{
        width: 30.30%;
      }
      .image-with-text-overlay-grid-section .image_grid {
        margin-left: -11px;
        margin-right: -11px;
      }
      .image-with-text-overlay-grid-section .image_grid .image_item{
        padding-left: 11px;
        padding-right: 11px;
      }
    }
    @media only screen and (max-width:750px) {
      .image-with-text-overlay-grid-section .image_grid{
        margin-left: -7px;
        margin-right: -7px;
        margin-bottom: -14px;
      }
      .image-with-text-overlay-grid-section .image_grid .image_item{
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 14px;
      }
      .image-with-text-overlay-grid-section .image-with-text-container-wrap h2{
        font-size: 14px;
      }
      .section.image-with-text-overlay-grid-container{
        padding-bottom: 25px;
      }    
      .image-with-text-overlay-grid-section .image-with-text-img-wrap img{
        border-radius: 10px;
      }
      .image-with-text-overlay-grid-section .image-with-text-img-wrap:before{
        border-radius: 10px;
      }
      .image-with-text-overlay-grid-section .image-with-text-img-wrap:after{
        border-radius: 0px 0px 10px 10px;
      }
    }
    @media only screen and (max-width:639px) {
      .image-with-text-overlay-grid-section .section{
        padding: 25px 0;
      }
      .shopify-section.image-with-text-overlay-grid-section + .shopify-section .section.shopbycategory{
        padding-top: 0;
      }
      .image-with-text-overlay-grid-section .image_grid .image_item{
        width: 43.47%;
      }
    }
  </style>
  <script>
    $(document).ready(function(){
      $('.image-slider-{{section.id}}').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        arrows:true,
        dots:false,
        infinite:false,
        lazyLoad: 'ondemand',
        adaptiveHeight: true,
        responsive: [
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll:1,
              arrows: false
            }
          },
          {
            breakpoint:639,
            settings: {
              slidesToShow: 2.5,
              slidesToScroll: 2,
              arrows: false
            }
          }
        ]
      });
    });
  </script>
{% endif %}

  {% schema %}
    {
      "name": "Curated/Food banner",
      "class": "image-with-text-overlay-grid-section",
      "settings": [
        {
            "type": "text",
            "id": "curated_collection_heading",
            "label": "Section Heading",
            "default": "Curated Collections"
        },
        {
          "type": "checkbox",
          "id": "show_banner_food_pdp",
          "label": "Show Banner instead of Curated collection in PDP",
          "default": true
        },
        {
          "type": "text",
          "id": "food_section_heading",
          "label": "Food banner heading",
          "default": "Related Products from "
        }
      ],
      "blocks":[
        {
          "type": "image",
          "name": "Image",
          "settings": [
            {
              "type":"image_picker",
              "id":"image",
              "label":"Image"
            },
            {
              "type":"text",
              "id":"title",
              "label":"Heading"
            },
            {
              "type":"url",
              "id":"url",
              "label":"Link"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Image width text overlay grid",
          "category": "Image"
        }
      ]
    }
  {% endschema %}