{%- liquid

    assign show_mindful_eating = false
    assign show_ethical_eating = false

    assign list_mindful_eating_collections = section.settings.mindful_eating-list
    assign list_ethical_beauty_collections = section.settings.ethical_beauty-list
    
    assign mindful_eating_collections = list_mindful_eating_collections | split: ','
    assign ethical_beauty_collections = list_ethical_beauty_collections | split: ','

    for collection in product.collections
        for mindful_eating_col in mindful_eating_collections
            if collection.handle == mindful_eating_col
                assign show_mindful_eating = true
                break
            else
                continue
            endif
        endfor
        for ethical_beauty_col in mindful_eating_collections
            if collection.handle == ethical_beauty_col
                assign show_ethical_eating = true
                break
            endif
        endfor
    endfor 

-%}

<section>
    <div class="container shop_by_concern">
        {% if section.settings.title != blank or section.settings.subtitle != blank %}
            {% if show_mindful_eating or show_ethical_eating %}
                <header class="landing_section_header">
                    {% if section.settings.subtitle != blank %}
                        <h3 class="landing_subheading">{{section.settings.subtitle}}</h3>
                    {% endif %}
                    {% if section.settings.title != blank %}
                        <h2 class="landing_heading">{{section.settings.title}}</h2>
                    {% endif %}
                </header>
            {% endif%}
        {% endif %}
        <div class="second-container">
            {% for block in section.blocks %}
                {% if show_mindful_eating and block.settings.block_collection_handle == 'mindful-eating' %} 
                    <a href="{{ block.settings.block_button_url }}" class="shop_concern_container">
                        <div class="second-section-image">
                            {% if block.settings.second_section_image != blank %}
                                <div class="aspect-ratio concern_image_desk" style="padding-bottom: {{ 100.0 | divided_by: block.settings.second_section_image.aspect_ratio }}%">
                                {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,250,300,400,500,600', image: block.settings.second_section_image -%}{%- endcapture -%}
                                {%- assign image_url = block.settings.second_section_image  | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                <img class="image-with-text-img lazyload" alt="{{ block.settings.second_section_image.alt | escape }}" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto">
                                <noscript>
                                    <img src="{{ block.settings.second_section_image | img_url: '500x' }}" alt="{{ block.settings.second_section_image.alt | escape }}">
                                </noscript>
                                </div>
                            {% endif %}
                            {% if block.settings.second_section_image_mob != blank %}
                                <div class="aspect-ratio concern_image_mob" style="padding-bottom: {{ 100.0 | divided_by: block.settings.second_section_image_mob.aspect_ratio }}%">
                                {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,250,300,400', image: block.settings.second_section_image_mob -%}{%- endcapture -%}
                                {%- assign image_url = block.settings.second_section_image_mob  | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                <img class="image-with-text-img lazyload" alt="{{ block.settings.second_section_image_mob.alt | escape }}" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto">
                                <noscript>
                                    <img src="{{ block.settings.second_section_image_mob | img_url: '300x' }}" alt="{{ block.settings.second_section_image_mob.alt | escape }}">
                                </noscript>
                                </div>
                            {% endif %}
                            {% if block.settings.title != blank %}
                                <h2>{{ block.settings.title }}</h2>
                            {% endif %}
                        </div>
                    </a>
                {% elsif show_ethical_eating and block.settings.block_collection_handle == 'ethical-beauty' %} 
                    <a href="{{ block.settings.block_button_url }}" class="shop_concern_container">
                        <div class="second-section-image">
                            {% if block.settings.second_section_image != blank %}
                                <img src="{{ block.settings.second_section_image | img_url: 'master' }}" class="concern_image_desk">
                            {% endif %}
                            {% if block.settings.second_section_image_mob != blank %}
                                <img src="{{ block.settings.second_section_image_mob | img_url: 'master' }}" class="concern_image_mob">
                            {% endif %}
                            {% if block.settings.title != blank %}
                                <h2>{{ block.settings.title }}</h2>
                            {% endif %}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<style>
    .shop_concern_container{
        max-width: 440px;
        border-radius: 25px;
        overflow: hidden;
    }
    .second-section-image img{
        width:100%
    }
    .second-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 40px;
    margin-top: 100px;
    grid-row-gap: 47px;
    }
    .second-container .second-section-image{
        position: relative;
    }
    .shop_by_concern .second-container .second-section-image h2{
        position: absolute;
        bottom:0;
        width: 100%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 1.95811px 19.5811px rgb(0 0 0 / 25%);
    }
    .shop_by_concern .second-section-image h2{
        background: linear-gradient(182.77deg, rgba(34, 34, 34, 0) 3.83%, rgba(34, 34, 34, 0.56) 39.81%, rgba(34, 34, 34, 0.8) 81.16%);
        border-radius: 0px 0px 25px 25px;
        padding-top:30%;
        padding-bottom: 14px;
    }
    .second-block-container{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto;
        grid-column-gap: 20px;
        margin-top: 50px;
        text-align: center;
    }
    .second-block-container h2{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 11.337px;
        line-height: 17px;
        letter-spacing: 0.11em;
        color: #222222;
        margin: 0;
        padding-top: 10px;
    }
    .second-block-container h3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18.895px;
        line-height: 28px;
        color: #222222;
    }
    .second-section-image:hover{ 
        box-shadow: 1px 8px 20px black;
        -webkit-transition:  box-shadow .6s ease-in;
    }
    .second-section-image:hover {
        transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
        box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
        transition: all .4s ease; /* zoom in */
        cursor: pointer;
    }
    .custom-grid-section .landing_section_header + .second-container{
        margin-top: 0;
    }
    .shop_by_concern .landing_section_header .landing_heading {
        font-family: Poppins;
        font-weight: 500;
        font-size: 1.95em;
        line-height: 1.5;
        color: black;
    }
    .concern_image_mob{
        display: none;
    }
    @media (max-width: 1200px){
        .shop_by_concern .second-section-image h2{
            border-radius: 0px 0px 18px 18px;
        }
        .shop_concern_container{
            border-radius: 18px;
        }
    }
    @media only screen and (max-width:1024px) {
        .second-container{
            grid-template-columns: auto auto auto;
            grid-row-gap: 20px;
        }
        .second-block-container{
            grid-template-columns: auto auto auto auto;
        }
        .shop_by_concern .second-container .second-section-image h2{
            font-size: 1.15em;
            line-height: 26px;
        }
        .shop_by_concern .landing_section_header .landing_heading{
            font-size: 1.7em;
        }
        .shop_by_concern .second-container{
            grid-column-gap: 20px;
        }
    }
    @media only screen and (max-width:768px) {
        .custom-grid-section .shop_by_concern .landing_section_header{
            margin-top:43px;
            margin-bottom: 13px;
        }
        .shop_by_concern .landing_section_header .landing_heading{
            font-size: 1.4em;
            color: #00000099;
        }
        .shop_concern_container {
            border-radius: 10px;
        }
    }
    @media only screen and (max-width:592px) {
        .concern_image_desk{
            display: none;
        }
        .concern_image_mob{
            display: block;
        }
        .second-container{
            grid-template-columns: auto auto;
            margin-top: 16px;
            grid-column-gap: 15px;
            grid-row-gap: 15px;
        }
        .second-block-container{
            grid-template-columns: auto auto auto;
            grid-column-gap: 15px;
            grid-row-gap: 15px;
        }
        .shop_by_concern .landing_section_header .landing_heading{
            font-size: 1.1em;
        }
        .shop_by_concern .second-section-image h2{
            border-radius: 0px 0px 10px 10px;
        }
        .shop_by_concern .second-container{
            grid-column-gap: 15px;
        }
    }

    @media only screen and (max-width: 420px){
        .shop_by_concern .second-container .second-section-image h2{
            font-size: 1em;
        }
    }
    @media only screen and (max-width: 330px){
        .shop_by_concern .second-container .second-section-image h2{
            font-size: .77em;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1920px){
        .custom-grid-section .second-container{
            margin-top: 64px;
        }
    }
</style>

{% schema %}
{
    "name": "Shop By Concern",
    "class": "custom-grid-section",
    "settings": [
        {
            "type":"text",
            "id":"title",
            "label":"Heading"
        },
        {
            "type":"text",
            "id": "mindful_eating-list",
            "label": "Enter all Mindful Eating collection list with ',' separated values",
            "default": "mindful-eating,grains-and-pulses,cold-pressed-oils-and-ghee,natural-salts-and-spices,healthy-snacks,superfoods-and-nuts,tea-and-beverages,honey-jaggery-and-natural-sugars,quinoa-pasta-and-gluten-free-foods,baking-premixes,natural-supplements-and-digestive,condiments-pickles-and-jams,fasting-food"
        },
        {
            "type":"text",
            "id": "ethical_beauty-list",
            "label": "Enter all Ethical Beauty collection list with ',' separated values",
            "default": "ethical-beauty,natural-skincare,hair-care,oral-care,makeup-and-nails,mens-grooming,essential-oils,serums-skin-oils-and-supplements,fragrances,beauty-and-bath-essentials"
        }
    ],
    "blocks":[
        {
            "type": "second-section",
            "name": "Custom Grid",
            "settings": [
                {
                    "type":"image_picker",
                    "id":"second_section_image",
                    "label":"select your image for Desktop"
                },
                {
                    "type":"image_picker",
                    "id":"second_section_image_mob",
                    "label":"select your image for Mobile"
                },
                {
                    "type":"text",
                    "id":"title",
                    "label":"Title"
                },
                {
                    "type":"url",
                    "id":"block_button_url",
                    "label":"Link"
                    
                },
                {
                    "type": "text",
                    "id": "block_collection_handle",
                    "label": "Add Collection handle to show element"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Custom Grid",
            "category": "Custom"
        }
    ]
}
{% endschema %}
    