<style>
  .input-prepend {
    position: absolute;
    border-right: 1px solid #808080b0;
    padding: 2px 8px;
    margin: 9px 0;
    top: 0;
    left: 0;
    line-height: 18px;
    font-size: 14px;
  }
  .customer-phonenumber {
    padding-left: 52px;
  }
  .modal .form__input-wrapper--labelled .customer-phonenumber{
    padding-top: 12px;
    padding-bottom: 12px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  .form__field::placeholder{
    font-size: 14px;
  }
</style>

<div data-section-id="{{ section.id }}" data-section-type="popups">
  {%- for block in section.blocks -%}
    {% capture posted_successfully_text %}
      {%- if block.settings.thank_you_title != blank -%}
        <h5 class="popup-newsletter__title heading thank_you_title">{{ block.settings.thank_you_title | escape }}</h5>
      {%- endif -%}

      {%- if block.settings.thank_you_content != blank -%}
        <div class="popup-newsletter__content rte">
          {{ block.settings.thank_you_content }}
        </div>
      {%- endif -%}
      
      <p class="alert alert--success alert--center" data-action="close-popup" >{{ block.settings.thank_you_btn_text }}</p>
    {% endcapture %}
    {%- case block.type -%}
      {%- when 'newsletter' -%}
        {%- unless block.settings.show_only_on_index and template != 'index' -%}
          {%- unless block.settings.show_only_for_visitors and customer -%}
            {% capture popup_settings %}
              {
                "apparitionDelay": {{ block.settings.apparition_delay | json }},
                "showOnlyOnce": {{ block.settings.show_only_once | json }}
              }
            {% endcapture %}

            <aside class="modal modal--newsletter" data-popup-type="newsletter" data-popup-settings='{{ popup_settings }}' aria-hidden="true" {{ block.shopify_attributes }}>
              <div class="modal__dialog" role="dialog">
                <div class="popup-newsletter">

                  <button class="popup-newsletter__close link" data-action="close-popup" aria-label="{{ 'general.accessibility.close' | t }}">
                    {%- render 'icon', icon: 'close' -%}
                  </button>

                  {%- if block.settings.show_newsletter -%}
                    {%- form 'customer', id: 'newsletter-popup', class: 'form popup-newsletter__form' -%}
                      <div class="newsletter_form_posted_successfully{% unless form.posted_successfully? %} hide{% endunless %}">
                        {{ posted_successfully_text }}
                      </div>
                      {%- if form.posted_successfully? -%}
                      {%- else -%}
                        {%- if block.settings.title != blank -%}
                          <h5 class="popup-newsletter__title heading">{{ block.settings.title | escape }}</h5>
                        {%- endif -%}

                        {%- if block.settings.content != blank -%}
                          <div class="popup-newsletter__content rte">
                            {{ block.settings.content }}
                          </div>
                        {%- endif -%}

                        <input type="hidden" name="contact[tags]" value="newsletter">

                        <div class="form__input-wrapper form__input-wrapper--labelled">
                          <input id="newsletter-popup[email]" type="text" class="form__field form__field--text" name="contact[email]" autofocus>
                          <label for="newsletter-popup[email]" class="form__floating-label">{{ 'general.popup.email_placeholder' | t }}</label>
                          <span class="form_error"></span>
                        </div>

                        <div class="form__input-wrapper form__input-wrapper--labelled phone_input_wrap">
                          <span class="input-prepend">+91</span>
                          <input id="newsletter-popup[phone]" type="text" class="form__field form__field--text customer-phonenumber" name="contact[phone]" placeholder="{{ 'general.popup.phone_placeholder' | t }}" maxlength="10" onkeypress="return onlyNumberKey(event)">
                          <span class="form_error"></span>
                        </div>

                        <button class="button button--primary button--full newsletter_subscription_button custom_loading" type="submit">{{ block.settings.btn_text }}<span class="custom-loader-wrap"><span class="custom-loader"></span></span></button>
                        {% if form.errors %}
                          <div class="error_sameemail">{{ form.errors | default_errors }}</div>
                        {% endif %}  
                      {%- endif -%}
                    {%- endform -%}
                  {%- endif -%}
                </div>
              </div>
            </aside>
          {%- endunless -%}
        {%- endunless -%}

      {%- when 'exit' -%}
          {% capture popup_settings %}
            {
              "showOnlyOnce": {{ block.settings.show_only_once | json }}
            }
          {% endcapture %}

          <aside class="modal modal--exit-popup" data-popup-type="exit" data-popup-settings='{{ popup_settings }}' aria-hidden="true" {{ block.shopify_attributes }}>
            <div class="modal__dialog" role="dialog">
              <div class="exit-popup">
                
                {%- if block.settings.title != blank -%}
                  <h5 class="exit-popup__title heading">{{ block.settings.title | escape }}</h5>
                {%- endif -%}

                {%- if block.settings.subheading != blank -%}
                  <p class="exit-popup__subheading heading">{{ block.settings.subheading | escape }}</p>
                {%- endif -%}

                <button class="exit-popup__close link" data-action="close-popup" aria-label="{{ 'general.accessibility.close' | t }}">
                  {%- render 'icon', icon: 'close' -%}
                </button>

                {%- assign is_form_valid = false -%}

                {%- if block.settings.show_newsletter -%}
                  {%- form 'customer', id: 'exit-popup', class: 'form exit-popup__form' -%}
                    <div class="newsletter_form_posted_successfully{% unless form.posted_successfully? %} hide{% endunless %}">
                      {{ posted_successfully_text }}
                    </div>
                    {%- if form.posted_successfully? -%}
                      {%- assign is_form_valid = true -%}
                    {%- else -%}
                      <input type="hidden" name="contact[tags]" value="newsletter">

                      <div class="form__input-wrapper form__input-wrapper--labelled">
                        <input id="exit-popup[email]" type="text" class="form__field form__field--text" name="contact[email]" autofocus>
                        <label for="exit-popup[email]" class="form__floating-label">{{ 'general.popup.email_placeholder' | t }}</label>
                        <span class="form_error"></span>
                      </div>

                      <div class="form__input-wrapper form__input-wrapper--labelled phone_input_wrap">
                        <span class="input-prepend">+91</span>
                        <input id="exit-popup[phone]" type="text" class="form__field form__field--text customer-phonenumber" placeholder="{{ 'general.popup.phone_placeholder' | t }}" name="contact[phone]" maxlength="10" onkeypress="return onlyNumberKey(event)">
                        <span class="form_error"></span>
                      </div>

                      <button class="button button--primary button--full newsletter_subscription_button custom_loading" type="submit">{{ block.settings.button_text | escape }}<span class="custom-loader-wrap"><span class="custom-loader"></span></span></button>
                      {% if form.errors %}
                        <div class="error_sameemail">{{ form.errors | default_errors }}</div>
                      {% endif %}  
                    {%- endif -%}
                  {%- endform -%}
                {%- endif -%}

                {%- if block.settings.close_message != blank and is_form_valid == false -%}
                  <button class="exit-popup__pay-more link link--accented" data-action="close-popup">{{ block.settings.close_message }}</button>
                {%- endif -%}
              </div>
            </div>
          </aside>
    {%- endcase -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Popups",
  "max_blocks": 2,
  "blocks": [
    {
      "name": "Newsletter popup",
      "type": "newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_only_on_index",
          "label": "Show only on home page",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_only_for_visitors",
          "label": "Disable for account holders",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_only_once",
          "label": "Show once to visitors",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Popup"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>You can use this popup to display some useful information to your customers.</p>"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Get 10% OFF"
        },
        {
          "type": "text",
          "id": "thank_you_title",
          "label": "Thank You Heading",
          "default": "Popup"
        },
        {
          "type": "richtext",
          "id": "thank_you_content",
          "label": "Thank You Text",
          "default": "<p>You can use this popup to display some useful information to your customers.</p>"
        },
        {
          "type": "text",
          "id": "thank_you_btn_text",
          "label": "Thank You Button Text",
          "default": "Continue Shopping"
        },
        {
          "type": "checkbox",
          "id": "show_newsletter",
          "label": "Show newsletter form",
          "info": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1).",
          "default": true
        },
        {
          "type": "range",
          "id": "apparition_delay",
          "min": 0,
          "max": 15,
          "step": 1,
          "unit": "sec",
          "label": "Delay until the popup appears",
          "default": 5
        }
      ]
    },
    {
      "name": "Exit popup",
      "type": "exit",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Enable an exit popup if user attempts to navigate away from current page as a means of influencing user action on store."
        },
        {
          "type": "paragraph",
          "content": "Only visible on desktop."
        },
        {
          "type": "checkbox",
          "id": "show_only_once",
          "label": "Show once to visitors",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Get 15% off"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "on your next order + exclusive offers"
        },
        {
          "type": "header",
          "content": "Newsletter"
        },
        {
          "type": "checkbox",
          "id": "show_newsletter",
          "label": "Show sign up form",
          "default": true
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Get my 15% off"
        },
        {
          "type": "text",
          "id": "thank_you_title",
          "label": "Thank You Heading",
          "default": "Popup"
        },
        {
          "type": "richtext",
          "id": "thank_you_content",
          "label": "Thank You Text",
          "default": "<p>You can use this popup to display some useful information to your customers.</p>"
        },
        {
          "type": "text",
          "id": "thank_you_btn_text",
          "label": "Thank You Button Text",
          "default": "Continue Shopping"
        },
        {
          "type": "text",
          "id": "close_message",
          "label": "Close message",
          "default": "No thanks, I'd rather pay more"
        }
      ]
    }
  ]
}
{% endschema %}